/* background color:            #fcede5 */

html{
  background-color: #fcede5;
  font-size: 1.5rem;
  font-family: Indie Flower;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar{
  margin-top: 1rem;
}

.navbar-text-container{
  display: flex;
  align-items: center;
}

.navbar-text{
  margin: 0;
}

.navbar-list-container{
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 75%;
  margin: auto;

}

.footer{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: 0.8rem;
  text-align: center;
}

.footer-list-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2vh;
}