/* background color:            #fcede5 */

html{
  background-color: #fcede5;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.footer{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: 0.8rem;
  text-align: center;
}

.footer-list-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2vh;
}