.navbar-element{
 margin: 0;
}

.navbar-button{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(.5rem - 1px) calc(0.90rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.navbar-button:hover,
.navbar-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.navbar-button:hover {
  transform: translateY(-1px);
}

.navbar-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.footer-social-li {
  padding-left: 0.5rem;
}

.footer-social-link {
  display:inline-block;
}

.footer-social-link:link {
  text-decoration: none;
  color: black;
}

.footer-social-link:visited {
  text-decoration: none;
  color: black;
}

.footer-social-svg {
  box-shadow: 1px 5px 5px black;
  width:80%;
}