.content{
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.content-welcome-msg{
  margin-bottom: 0.8rem;
}

.content-container-joke{
  display: flex;
  justify-content: center;
}

#button-bookmark{
  align-self: center;
  margin-right: 1rem;

  background: none;
  padding: 0;
  font: inherit;
  border: none;

  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#button-bookmark:hover {
  transform: scale(1.2);
}


#button-bookmark:visited {

}

#button-bookmark:after {

}

.content-joke{
  margin-top: 0.8rem;
}