<form class="form-signup" th:fragment="form-signup(action_link)" th:object="${userUpdate}" th:action="@{${action_link}}" method="post">
<!--  Update Status -->
  <p th:if="${successful_update!=null}" th:text="${successful_update}" class="success-msg"></p>
  <p th:if="${unsuccessful_update!=null}" th:text="${unsuccessful_update}" class="try-again-msg"></p>
<!--  Form Body -->
  <div th:replace="~{auth-fragments :: form_field(form_field_name='firstName',form_field_type='text',form_field_label_text='First Name')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='lastName',form_field_type='text',form_field_label_text='Last Name')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='username',form_field_type='text',form_field_label_text='Username')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='dob',form_field_type='date',form_field_label_text='DOB')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='email',form_field_type='text',form_field_label_text='Email')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='password',form_field_type='password',form_field_label_text='Password')}"></div>
  <div th:replace="~{auth-fragments :: form_field(form_field_name='repeatedPassword',form_field_type='password',form_field_label_text='Repeated Password')}"></div>
  <a th:replace="~{auth-fragments :: button-submit(text='Update')}"></a>
</form>

<!--Form Field fragments-->
<div th:fragment="form_field(form_field_name,form_field_type,form_field_label_text)" class="form-field">
  <th:block th:with="form_field=${form_field_name}">
  <label th:for="${form_field_name}" th:text="${form_field_label_text}" class="form-label"></label>
  <div class="filed-input-and-errors">
    <input th:type="${form_field_type}" th:id="${form_field_name}" th:field="*{__${form_field_name}__}" class="field-input"/>
    <th:block th:replace="~{auth-fragments::display_errors(field_error=${form_field_name})}"></th:block>
  </div>
  </th:block>
</div>

<form class="form-login" th:fragment="form-login" th:object="${userLogin}" th:action="@{/login}" method="post">
  <div th:replace="~{auth-fragments :: form-field-username}"></div>
  <div th:replace="~{auth-fragments :: form-field-password}"></div>
</form>

<div th:fragment="auth-button-container" class="auth-button-container">
  <a th:replace="~{auth-fragments::auth-button(text='Login',link='/login')}"></a>
  <a th:replace="~{auth-fragments::auth-button(text='Signup',link='/signup')}"></a>
</div>


<!--  Buttons -->
<a th:fragment="button-submit(text)" class="submit-button-container">
  <button type="submit" class="button submit-button" id="content-form-button" th:text="${text}"></button>
</a>

<a th:fragment="auth-button(text,link)" th:href="${link}" class="auth-button-container">
  <button type="submit" class="button" th:text="${text}"></button>
</a>

<!--  Errors  -->
<th:block th:fragment="display_errors(field_error)" th:unless="${#fields.errors(field_error).isEmpty()}">
  <div class="error-container">
    <p th:each="err : ${#fields.errors(field_error)}" th:text="${err}" class="error"></p>
  </div>
</th:block>