<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout.html}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
  <title>Home</title>
</head>
<body>
<section layout:fragment="content" class="content">

  <p class="content-no-joke" th:if="${username == null}">Log in to get a joke!</p>
  <div class="content-text-joke" th:if="${username != null}">
    <p class="content-welcome-msg">Here is a joke to make your day better:</p>
    <div class="content-container-joke">
      <button th:if="${jokeWasSaved == null}" th:insert="~{star}" id="button-bookmark"></button>
      <p class="content-joke" th:if="${joke} != null" th:text="${joke}"></p>
    </div>
    <div class="content-buttons">
      <button class="button" id="content-button-new-joke">New Joke</button>
      <button class="button" id="content-button-tell-joke">Tell me a joke</button>
    </div>
  </div>

</section>
</body>
</html>