<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-layout.html}"
>
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
  <title>Home</title>
</head>
<body>

<section class="content">
  <div class="welcome-msg">
    <div class="logged-welcome" th:if="${username != null}">
      <p>Welcome <span th:text="${username}"></span>!</p>
      <p>Here is a joke to make your day better:</p>
    </div>
    <p th:if="${username == null}">Log in to get a joke!</p>
  </div>
  <div class="joke">
    <p th:if="${joke} != null" th:text="${joke}"></p>
    <p th:if="${joke} == null">No joke for you yet!</p>
  </div>
</section>
</body>
</html>